.produs{
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 25px;
}

.pozamancare{

    width: 320px;
    height: 200px;
}

.format{
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
}

.titlureteta{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 350px;
    margin-bottom: 6px;
}

.titlureteta:hover{
    color: rgb(53, 79, 82);
    transition: 0.2s;
}

.data{
    font-size: 15px;
    margin-top: 0px;
    color: rgb(149, 150, 151);
}

.descriere{
    width: 400px;
}

.retelepagina{
    display: inline-block;
}

.urmaritine{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    object-position: right;
}